farmer-information {
    background: #ffffff;
    .btn-inf-farmer{
        display: flex;
        justify-content: flex-end;  
        margin-top: 22%;
    }
    i.fas.fa-times {
        color: #FF6347;
    }
    i{
        color: #36793b;
    }
  
    .history{
        margin: -10px 0px -10px 17px !important;
    }
    @media only screen and (min-height: 600px) and (min-width: 768px){
        .modal-wrapper {
            left: calc(50% - (600px/2));
            top: calc(50% - (500px/2));
            position: absolute;
            width: 600px;
            height: 500px;
        }
    }
}
